body {
	background: url("../img/bg.png");
	margin: 50px;
	padding: 50px;
}

li,
p {
	font-family: 'Averia Gruesa Libre', cursive;
}
h1, h2, h3, h4 {
	color: #8767ed;
	font-family: 'Krona One', sans-serif;
}

a {
	text-decoration: none;
}
nav li {
	float: left;
	list-style: none;
	margin: 0 20px;
}