body {
	background: url("../img/bg.png");
	margin: 50px;
}

 .globalnav {
	background: black;

	line-height: 15px;
	position: fixed;
	left: 0;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

nav ul li {
	float: right;
	list-style: none;
	margin: 0 20px;
}

nav ul {
	background: black;
}

ul,
p {
	background: #1665e8;
	border-radius: 0 25px 0 30px;

	font-family: 'Averia Gruesa Libre', cursive;
	padding: 10px;
}

h1 {
	background: black;
	color: #1665e8;
	
	float: right;
	height: 50px;
	line-height: 50px;
	
	margin: 0;
} 

h2, h3, h4 {
	background: black;
	padding: 10px 30px 10px 10px;
	border-radius:20px 0 20px 0;
	color: #1665e8;

	font-family: 'Krona One', sans-serif;
}

li span {
	font-weight: bold;
}

li {
	list-style: none;
}

h2 + ul {
	margin: 0;
	padding: 15px 30px 15px 70px;
}

h2 + ul li {
	text-indent: -40px;
}

h3 + ul {
	padding: 5px 20px;
}

a {
	color: #1665e8;
	text-decoration: none;
}

.small {
	border-radius: 0 15px 0 10px;
}

.block {
	background: #1665e8;
	padding: 5px;
	border-radius: 0 25px 0 30px;
}

.block p {
	padding: 3px;
}

footer {
	color: white;
}
